 <link href="stylesheets/donation.css" rel="stylesheet" />
 
 
 
 <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Donation Form</h3>
                        <p>Fill in the data below.</p>
                        <form action="/submit" method="post" class="requires-validation" novalidate>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="Full Name" required>

                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                               
                            </div>

                  

                           <div class="col-md-12">
                              <input class="form-control" type="text" name="Address" placeholder="Address" required>
                             
                           </div>
                           <div class="col-md-12">
                               <input class="form-control" type="number" name="phone" placeholder="phone" required>

                            </div>
                            <div class="col-md-12">
                               <input class="form-control" type="text" name="donat" placeholder="Your donations" required>

                            </div>

                  

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Donate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="javascripts/donation.js"></script>